@tailwind base;
@tailwind components;
@tailwind utilities;


/* src/components/EnhancedButton.css */




/* .hover\:animation-play-state-paused:hover {
    animation-play-state: paused;
  }


  @keyframes swipe {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .images:hover {
    animation-play-state: paused;
  } */
  